/*
HEADER
 */

.header {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #444444;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #FFFFFF;
}

.header .header-menu a:hover {
    color: #3490db;
}

/*
BANNER
 */

.banner {
    margin-top: -30px;
}

.banner .banner-image {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #FFFFFF;
}

/*
ABOUT
 */

.about .about-single-element .icon {
    font-size: 30px;
    text-align: center;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}

/*
GLOBAL
 */

.heading-site {
    text-align: center;
    margin-top: 100px;
}

td a {
    flex-grow: 2;
    display: block;
    height: 100%;
    cursor: hand;
    color: black;
    text-align: center;
}

img {
    width: 200px;
    height: 50%;
}

